html,body{
    padding: 0px;
    margin: 0px;
}
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.selectableItems:hover{
    opacity: 0.6;
}

.selectableItem .ui-selecting {
    background: #FECA40;
}
.selectableItem .ui-selected {
    background: #F39814; color: white;
}
.selectableItem {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 450px;
}
.selectableItem li {
    margin: 3px;
    padding: 1px;
    float: left;
    width: 100px;
    height: 40px;
    font-size: 1em;
    margin: 10px 10px 10px 10px;
    box-shadow:0px 3px 20px #111111;
    background: #222;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
}
